<!--Widget--Left_Nav_Top-->
<!--Profile Widget-->
<!--================================-->
<div id="mainnav-profile" class="mainnav-profile">
    <div class="profile-wrap">
        <div class="pad-btm">
            <span class="label label-success pull-right">New</span>
            <img class="img-circle img-sm img-border" src="/static/common/img/profile-photos/1.png" alt="Profile Picture">
        </div>
        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
            <span class="pull-right dropdown-toggle">
                <i class="dropdown-caret"></i>
            </span>
            <p class="mnp-name">Aaron Chavez</p>
            <span class="mnp-desc">aaron.cha@themeon.net</span>
        </a>
    </div>
    <div id="profile-nav" class="collapse list-group bg-trans">
        <a href="#" class="list-group-item">
            <i class="demo-pli-male icon-lg icon-fw"></i> View Profile
        </a>
        <a href="#" class="list-group-item">
            <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
        </a>
        <a href="#" class="list-group-item">
            <i class="demo-pli-information icon-lg icon-fw"></i> Help
        </a>
        <a href="#" class="list-group-item">
            <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
        </a>
    </div>
</div>


<!--Shortcut buttons-->
<!--================================-->
<div id="mainnav-shortcut">
    <ul class="list-unstyled">
        <li class="col-xs-3" data-content="My Profile">
            <a class="shortcut-grid" href="#">
                <i class="demo-psi-male"></i>
            </a>
        </li>
        <li class="col-xs-3" data-content="Messages">
            <a class="shortcut-grid" href="#">
                <i class="demo-psi-speech-bubble-3"></i>
            </a>
        </li>
        <li class="col-xs-3" data-content="Activity">
            <a class="shortcut-grid" href="#">
                <i class="demo-psi-thunder"></i>
            </a>
        </li>
        <li class="col-xs-3" data-content="Lock Screen">
            <a class="shortcut-grid" href="#">
                <i class="demo-psi-lock-2"></i>
            </a>
        </li>
    </ul>
</div>
<!--================================-->
<!--End shortcut buttons-->


<!--Widget--Left__Nav__botton-->
<!--================================-->
<div class="mainnav-widget">

    <!-- Show the button on collapsed navigation -->
    <div class="show-small">
        <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
            <i class="demo-pli-monitor-2"></i>
        </a>
    </div>

    <!-- Hide the content on collapsed navigation -->
    <div id="demo-wg-server" class="hide-small mainnav-widget-content">
        <ul class="list-group">
            <li class="list-header pad-no pad-ver">Server Status</li>
            <li class="mar-btm">
                <span class="label label-primary pull-right">15%</span>
                <p>CPU Usage</p>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-primary" style="width: 15%;">
                        <span class="sr-only">15%</span>
                    </div>
                </div>
            </li>
            <li class="mar-btm">
                <span class="label label-purple pull-right">75%</span>
                <p>Bandwidth</p>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-purple" style="width: 75%;">
                        <span class="sr-only">75%</span>
                    </div>
                </div>
            </li>
            <li class="pad-ver"><a href="#" class="btn btn-success btn-bock">View Details</a></li>
        </ul>
    </div>
</div>
<!--================================-->
<!--End widget-->