<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <ul id="mainnav-menu" class="list-group">
            
                        <!--Category name-->
                        <li class="list-header">功能列表</li>
            
                        <!--Menu list item-->
                        <li class="active-link">
                            <a href="{:url('Admin/Index/index')}">
                                <i class="demo-psi-home"></i>
                                <span class="menu-title">
                                    <strong>控制台</strong>
                                </span>
                            </a>
                        </li>
            
                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                    <strong>管理设置</strong>
                                </span>
                                <i class="arrow"></i>
                            </a>
            
                            <!--Submenu-->
                            <ul class="collapse">
                                <li><a href="{:url('Admin/User/my_center')}">个人中心</a></li>
                            </ul>
                        </li>

                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="demo-psi-gear-2"></i>
                                <span class="menu-title">
                                    <strong>权限控制</strong>
                                    <!-- <span class="pull-right badge badge-warning">24</span> -->
                                </span>
                                    <i class="arrow"></i>
                            </a>

                            <ul class="collapse">
                                <li><a href="{:url('Admin/Rule/rule_list')}">权限管理</a></li>
                                <li><a href="{:url('Admin/Rule/rule_group')}">角色管理</a></li>
                                <li><a href="{:url('Admin/User/index')}">用户管理</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                <span class="menu-title">
                                    <strong>系统设置</strong>
                                     <!--span-- class="pull-right badge badge-warning">24</!--span-->
                                </span>
                                    <i class="arrow"></i>
                            </a>

                            <ul class="collapse">
                                <li><a href="{:url('Admin/Article/index')}">文章管理</a></li>
                                <li><a href="{:url('Admin/Rule/nav')}">菜单管理</a></li>
                                <li><a href="{:url('Admin/Rule/log')}">日志管理</a></li>
                            </ul>
                        </li>
                    </ul>



                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->
