{layout name="layout" /}
<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">
    
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">角色管理</h1>

        <div class="searchbox">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                </span>
            </div>
        </div>
    </div> 
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->


    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="{:url('Admin/Index/index')}">首页</a></li>
        <li><a href="#">权限控制</a></li>
        <li class="active">角色列表</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->

    <div class="panel">
        <!-- <div class="panel-heading">
            <h3 class="panel-title">Sample Toolbar</h3>
        </div> -->
    
        <!--Data Table-->
        <!--===================================================-->
        <div class="panel-body">
            <div class="pad-btm form-inline">
                <div class="row">
                    <div class="col-sm-6 table-toolbar-left">
                        <button id="demo-btn-addrow" class="btn btn-mint" onclick="add()">新增角色</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>分组名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach name="data" id="v"}
                            <tr>
                                <td>{$v['title']}</td>
                                <td>
                                    <a href="javascript:;" ruleId="{$v['id']}" ruleTitle="{$v['title']}" onclick="edit(this)">修改</a> |
                                    <a href="javascript:if(confirm('确定删除？'))location='{:url('Admin/Rule/delete_group',array('id'=>$v['id']))}'">删除</a> |
                                    <a href="{:url('Admin/Rule/rule_distribution',array('id'=>$v['id']))}">分配权限</a>                                            
                                </td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <!--===================================================-->
        <!--End Data Table-->
    
    </div>
</div>
<!--===================================================-->
<!--END CONTENT CONTAINER-->
